:root {
  --dash-primary: #d9e1e6;
  --primary: #000;


  --dark-blue: #000c1b;


  //modo dark
  --mode-dark: #131c21;
  --mode-dark-2: #003638;
  --mode-claro: #fff;


  
  --text-header: #fff;
  --btn-blue: #3179a8;




  --verde-epe: #008250;
  --fondo-pregunta: #def2f8;
  --gris-pregunta: #dee2e6;
  --gris-puntos: #424242;





  //login
  --light: #fff;
  --vine: #d13639;
  --gray: #ededed;
  --gray-medium: #b2b2b2;
  --gray-dark: #999999;


  //toast tools
  --toastify-color-dark: #000c1b;
  --toastify-color-info: #0b9b64;
}


