.sidePuntos {
  grid-area: SIPUNTO;
  background-color: #fff;
}

.list_puntos {
  display: flex;
  flex-wrap: wrap;

  .btn_puntos {
    outline: none;
    border: none;
    border: 1px solid var(--verde-epe);
    height: 36px;
    width: 30px;
    position: relative;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px;

    .punto_numero {
      display: inline-block;
      background-color: #fff;
      height: 16px;
      width: 28px;
      border-radius: 4px 4px 0 0px;
      position: absolute;
      top: 0;
    }

  }
}

.select_punto {
  box-shadow: 0px 0px 0px 2px rgba($color: #048339, $alpha: 0.8);
}


.marca_numero {
    display: inline-block;
    border-radius: 0 0 4px 4px;
    background-color: var(--gris-puntos);
    height: 17px;
    width: 27.5px;
    position: absolute;
    bottom: 0;
  }