.examen_athoq {
  display: grid;
  grid-template-columns: minmax(20%, 228px) 118px auto;
  grid-template-rows: auto 80px;
  grid-template-areas:
    "SIPUNTO SIDATOS PREGUNTA"
    "SIPUNTO SIDATOS BOTONES";
  height: 100%;
  height: calc(100vh - 96px);

  @media screen and (max-width: 640px) {
    display: grid;
    grid-template-columns: 1fr;

    grid-template-rows: 64px auto 56px auto;
    // grid-template-rows: 48px auto 50px auto;

    grid-template-areas:
      "SIDATOS SIDATOS SIDATOS"
      "PREGUNTA PREGUNTA PREGUNTA"
      "BOTONES BOTONES BOTONES"
      "SIPUNTO SIPUNTO SIPUNTO";
  }
}

//componentes de preguntas
.preguntas_athoq {
  grid-area: PREGUNTA;
  background-color: var(--fondo-pregunta);
  border-radius: 4px;
  padding: 16px;
  color: #000;

  @media screen and (max-width: 640px) {
    margin-top: 6px;
  }
}

//componentes de lista de botones
.lista_btn {
  grid-area: BOTONES;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: red;

  .btn_pregunta {
    background-color: var(--gris-pregunta);
    color: #000;
    height: 36px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
  }
  .btn_next {
    color: #fff;
    background-color: var(--verde-epe);
  }
  .btn_resultados1 {
    color: #fff;
    background-color: #ff0000b4;
    position: relative;

    @media screen and (max-width: 640px) {
      display: none;
    }
  }
  .btn_resultados2 {
    color: #fff;
    background-color: #ff0000b4;
    position: relative;

    @media screen and (min-width: 640px) {
      display: none;
    }
  }
  .manito_test {
    font-size: 26px;
    position: absolute;

    top: -95%;
    left: 30%;
    color: rgba(255, 255, 0, 0.825);
    animation: manitoAnimate 1s linear infinite;

    @keyframes manitoAnimate {
      0% {
        transform: translate(0px);
      }
      50% {
        // transform: rotatez(50deg);
        transform: translateY(8px);
        opacity: 0.5;
      }
    }
  }
}
