.card_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;

  .paginate_card {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card_container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: flex-start;
    justify-content: center;
   
  }
}
