.layout_rrgg {
  background-color: red;
  color: red;
}






.calificacion_nota {
  border-radius: 4px;
  border: 2px solid var(--verde-epe);

  .nota_title {
    border: 1px solid #5d5d5d;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    background-color: var(--gris-pregunta);
    color: black;
  }


  .nota_total {
    display: flex;
    align-items: center;
    border: 1px solid #5d5d5d;
    
    >strong {
      background-color: var(--gris-pregunta);
      width: 200px;
      padding: 5px 5px;
      color: black;
    }

    >span {
      margin-left: 8px;
      text-align: center;
      padding: 5px 5px;
     
    }
  }
}




.flex_resultados {
  display: flex;
  margin: 30px 0px;
}

//sidebar result component
.sideDatos_result {
  padding: 0 16px 0 0;

  .sideDatos__progress {
    background-color: var(--gris-pregunta);
    padding: 10px 0 8px 6px;
    width: 100px;
    height: 150px;
    border-radius: 4px;
    border: 1px solid #42424242;

    .pre {
      font-size: 14px;
      color: #000;

      .numero{
        font-weight: bold;
        font-size: 17px;
      }
    }


  }
}



//result component de preguntas
.respuesta_resultados {
  background-color: var(--fondo-pregunta);
  padding: 16px 20px;
  border-radius: 4px;
  width: 100%;

  .question_result {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
  }

  .pregunta2 {
    font-size: 14px;
    color: #000;
  }
}







.pregunta_result {
  margin-top: 10px;
  color: #000;
  display: flex;
  align-items: flex-start;

  > strong {
    margin-right: 10px;
  }
}

.r_correcta {
  color: green;
  font-weight: bold;
}
